/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: TRIM_READS {
        publishDir = [
            path: { "${params.outdir}/trim_reads_37bp" },
            mode: params.publish_dir_mode,
            pattern: "*{_37bp.fastq.gz,.csv}" 
        ]
    }       

    withName: ALIGN_SAMPLES {
        publishDir = [
            path: { "${params.outdir}/aligned_37bp" },
            mode: params.publish_dir_mode,
            pattern: "*{.sam,.csv}" 
        ]
    }

    withName: PROCESS_BAMS {
        publishDir = [
            path: { "${params.outdir}/process_bams_37bp" },
            mode: params.publish_dir_mode,
            pattern: "*{.bam,final_summary.csv,dedup_inserts.txt}"
        ]
    }

    withName: GENERATE_PLOTS {
        publishDir = [
            path: { "${params.outdir}/plots" },
            mode: params.publish_dir_mode,
            pattern: "*{.png}"
        ]        
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
